[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Configure Wacom Tablet
Exec=xsetwacom --set "Wacom Intuos S Pen stylus" MapToOutput DisplayPort-4
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
